# LG API
LG_CLIENT_ID=your_lg_client_id
LG_API_BASE_URL=https://api-aic.lgthinq.com
LG_API_KEY=your_lg_api_key
LG_ACCESS_TOKEN=your_lg_access_token
COUNTRY_CODE=MX
SERVICE_PHASE=OP
LG_API_CLIENT_ID=your_lg_api_client_id

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=mqtt-api-service
MONGO_COLLECTION_NAME=raw_messages

# Tracking Platform
TRACKING_PLATFORM_HOST=tracking-platform
TRACKING_PLATFORM_GRPC_ADDRESS=tracking-platform:50051

# Device Control
DEVICE_CONTROL_HOST=:50051