LG_CLIENT_ID=aa0d9ce5-088

LG_API_BASE_URL=https://api-aic.lgthinq.com
  
LG_API_KEY=v6GFvkweNo7DK7yD3ylIZ
LG_ACCESS_TOKEN=thinqpat_ea0
COUNTRY_CODE=MX
SERVICE_PHASE =OP
LG_API_CLIENT_ID=aa0d9ce5
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=mqtt-api-service
MONGO_COLLECTION_NAME=raw_messages
TRACKING_PLATFORM_HOST=localhost:50051