# Binaries
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
/bin/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Dependencies
vendor/
go.sum

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

#certificados
certs/
*.pem
*.crt
*.key
